ion-input {
  border: 1px solid var(--ion-color-medium);
  border-radius: 8px;
  background-color: var(--ion-color-light);
  --padding-top: 4px;
  --padding-bottom: 4px;
  --padding-start: 8px;
  --padding-end: 8px;
  --background: var(--ion-color-light);
}
