ion-header {
  ion-buttons {
    display: flex !important;
    align-items: center !important;

    .back-button {
      position: static;
      margin-top: auto;
      margin-bottom: auto;
    }
  }
}
