ion-header {
  ion-buttons {
    display: flex !important;
    align-items: center !important;

    .back-button {
      position: static;
      margin: 0 auto 0 auto;
      padding-left: 0;
    }
  }
}
