<html>
  <head>
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta charset='utf-8' />
    <title>E-Mail Adresse bestätigen | Bregenz bewegt</title>
    <style>
      :root { --color-primary: #0065bd; --color-secondary: #74afe2; } p {
      font-size: xx-large; } .title-banner h1 { font-size: 2.5em; background:
      linear-gradient( to right, var(--color-primary), var(--color-secondary),
      var(--color-primary) ); display: inline-block; text-align: left;
      background-size: 200% auto; animation: gradient-movement 3s infinite; }
      @keyframes gradient-movement { to { background-position: 200% center; } }

    </style>
  </head>
  <body>
    <header>
      <div class='title-banner'><h1>Bregenz<br />Bewegt</h1></div>
    </header>
    <main>
      <h1>Hallo {{name}}</h1>
      <p>Dein code ist
        {{code}}</p>
    </main>
    <fotter>
      (c) Stadt Bregenz 2022
    </fotter>
  </body>
</html>