<html>
  <head>
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta charset='utf-8' />
    <title>E-Mail Adresse bestätigen | Bregenz bewegt</title>
    <style>
      * {font-family: "Roboto", "Helvetica Neue", sans-serif;} .title-banner >
      h1 { font-size: 2.5em; background: linear-gradient( to right, #0065bd,
      #74afe2, #0065bd); display: inline-block; text-align: left;
      background-size: 200% auto; text-fill-color: transparent; animation:
      gradient-movement 3s infinite; background-clip: text; } @keyframes
      gradient-movement { to { background-position: -200% center; } }
    </style>
  </head>
  <body>
    <header>
      <div class='title-banner'><h1
          style='-webkit-background-clip: text; -webkit-text-fill-color: transparent;'
        >Bregenz<br />Bewegt</h1></div>
    </header>
    <main>
      <h1>Hallo {{name}}</h1>
      <p>Dein code ist
        {{code}}</p>
    </main>
    <fotter>
      &copy; Stadt Bregenz 2022
    </fotter>
  </body>
</html>