<html>
  <head>
    <title>Passwort ändern | Bregenz bewegt</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='css/style.css' />
    <link rel='stylesheet' href='css/changePw.css' />
  </head>
  <body>
    <header>
      <div class='title-banner'><h1>Bregenz<br />Bewegt</h1></div>
    </header>

    <h1>Hallo {{name}}</h1>
    <p>Dein link ist
      {{link}}</p>

    {{code}}
  </body>
</html>