:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-primary: #0065bd;
  --color-secondary: #74afe2;
  --color-tertiary: #5260ff;
  --color-success: #2dd36f;
  --color-warning: #ffc409;
  --color-danger: #eb445a;
  --color-dark: #222428;
  --color-medium: #92949c;
  --color-light: #f4f5f8;
}
